<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hex game</title>
  </head>
  <body>
    <form action="/game" method="POST">
      <input hidden name="n" value="5" />
      <button type="submit">5</button>
    </form>
    <form action="/game" method="POST">
      <input hidden name="n" value="10" />
      <button type="submit">10</button>
    </form>
    <form action="/game" method="POST">
      <input hidden name="n" value="15" />
      <button type="submit">15</button>
    </form>
  </body>
</html>
