<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Singup</title>
    <link rel="stylesheet" href="styles.css" type="text/css" />
  </head>
  <body>
    <main>
      <form action="" method="POST">
        <label for="username">New username:</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          pattern=".{8,}"
          title="Password must be at least 8 characters long"
          required
        />
        <button type="submit">Login</button>
      </form>
    </main>
  </body>
</html>
