html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #5bd137;
  margin: 0;
  padding: 20px;
  display: block;
}
.simple-form {
  display: block;
}
